.my-text {
	/*color : #8c1515;*/
	color : white;
	font-weight : bold;
	font-family: source serif pro;
	/*
	font-size : 0.5em;
	text-decoration : underline;
	font-style : italic;
	line-height: 1em;
	letter-spacing: 5px;
	*/
}

.my-pic {
	width : 300px;
	height : 300px;
	/*
	background-color: #f1f0e8;
	*/ 
	background-image: url(https://m.media-amazon.com/images/I/51WHgHxF5YL._AC_UF1000,1000_QL80_.jpg);
	background-size : 50px 50px;
	background-position: bottom top;
	background-repeat : no-repeat;
	border: 5px dotted red;
	box-shadow: 10px 10px 5px black;
}


